{% extends './paginas/modelo.html' %}

{% load static %}

{%  block 'title' %}
  Visualização
{% endblock %}

{% block 'conteudo' %}

  <div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Visualização</h1>
  </div>

  {% if carro == 'Fiat Toro' %}
    Esse é um carro: {{carro}}
  {% else %}
    Não é um {{carro}}
  {% endif %}

  <div class="col-8 m-auto pt-4 pb-2 text-center">
    <a href="/" class="btn btn-info">Voltar</a>
  </div>

  <div class="col-8 m-auto pt-4 pb-2 text-center"> 
    <img src="{{ db.imagem.url }}" alt="" width="100"> <br>
    <strong>Imagem: </strong> {{db.imagem}} <br>
    <strong>Modelo: </strong> {{db.modelo}} <br>
    <strong>marca: </strong> {{db.marca}} <br>
    <strong>ano: </strong> {{db.ano}} <br>
  </div>
    
{% endblock %}
